*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

th,
td {
  padding: 0;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
  background: none;
}

i {
  font-style: normal;
}

a {
  text-decoration: none;
}

.query-item {
  margin-left: 5px;

  &:first-child {
    margin: 0;
  }
}

#app {
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

.iconfont {
  font-size: 25px;
}

.el-dialog__body {
  padding: 0 20px !important;
}

.el-tabs__header {
  margin: 0 0 5px !important;
}

// 主页布局
.el-main {
  padding: 0 !important;
}

.el-aside {
  height: 100% !important;
  //transition: all .2s ease-out;
}

.el-header {
  height: 50px !important;
  padding: 0 !important;
}

// 分页
.el-pagination {
  .btn-prev {
    background-color: #eee !important;
  }

  .number {
    background-color: #eee !important;
  }

  .btn-next {
    background-color: #eee !important;
  }

  .active {
    background-color: #eee !important;
  }
}

// 表格中的el-tag
.cell .el-tag {
  padding: 0 10px !important;
  height: 30px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
